body{
	font-family: sans-serif;
	background: #fff;
}

.post{
	margin: 5px;
	padding: 5px;
	background: #fff;
	border-radius: 0px;
}

.likes{
	margin: 3px;
	padding: 3px;
	background: #eee;
	border-radius: 2px;
}

